@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap');

:root {
  --primary-color: #41b133;
  --background-color: rgba(3, 3, 27, 0.7);
  --dark-background-color: rgb(2, 2, 15);
  --font: 'Exo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(34, 195, 77);
  background: linear-gradient(
    0deg,
    rgba(34, 195, 77, 1) 0%,
    rgba(45, 84, 253, 1) 100%
  );
  background-repeat: no-repeat;
  font-family: var(--font);
  height: max-content;
  overflow-x: hidden;
}
